.App {
  width: 80%;
  margin: auto;
  border: 1px solid gray;
}

.disabled {
  opacity:  0.5;
  cursor: not-allowed;
  
}
/* .container {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
}

.register {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.timeline {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.channel {
  border: 1px solid black;
  margin: 10px;
}

.rooms {
  padding: 10px;
}

.room {
  border: 1px solid black;
  margin-bottom: 10px;
}

.session {
  width: 300px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
  }

  .heading {
    flex-direction: column;
  }

  .content {
    grid-template-columns: 1fr;
  }
} */


